.wrapper {
    padding: 10px;
    border-top: 1px solid var(--background-dark-grey);
    -webkit-box-shadow: 8px 7px 17px -22px var(--shadow);
    -moz-box-shadow: 8px 7px 17px -22px var(--shadow);
    box-shadow: 8px 7px 17px -22px var(--shadow);
    margin-bottom: 15px;
}

.form {
    display: grid;
    grid-template-columns: 12fr 1fr;
    flex: 4 1;
}

.icon {
    filter: invert(98%) sepia(2%) saturate(127%) hue-rotate(6deg) brightness(115%) contrast(100%);
    width: 24px;
    margin: 0;
}

.error {
    color: var(--error);
    text-align: left;
    padding: 5px;
}