.search-wrapper {
    display: flex;
    background-color: var(--input-background);
    border-radius: 5px;
    margin: auto;
    padding-left: 10px;
    width: 100%;
}

.search-wrapper div {
    width: 100%;
}

.search-wrapper img {
    width: 16px;
    filter: var(--icon-filter-placeholder);
}

.results-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container {
    width: 90%;
    padding: 0 10px;
}