.search-wrapper {
    display: flex;
    width: 100%;
    background-color: var(--input-background);
    border-radius: 5px;
}

.search-wrapper img {
    padding-left: 8px;
    width: 16px;
    filter: invert(23%) sepia(2%) saturate(0%) hue-rotate(209deg) brightness(97%) contrast(84%);
}

.results-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.search-bar {
    padding: 12px;
}