@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
  --background: #ffffff;
  --background-secondary: #f4f5ff;
  --background-secondary-hover: #dfe2ff;
  --background-secondary-active: #ced3ff;
  --background-grey: #f1f1f1;
  --background-dark-grey: #c7c7c7;
  --input-background: #dadbe6;
  --text-primary: #2c2c2c;
  --text-secondary: #383838;
  --text-tertiary: #585858;
  --accent: #4e5aea;
  --accent-hover: #414cc4;
  --error: #ff4e4e;
  --success: #9bff98;
  --icon-filter-accent: invert(29%) sepia(83%) saturate(1958%) hue-rotate(226deg) brightness(93%) contrast(96%);
  --icon-filter-dark: invert(81%) sepia(1%) saturate(14%) hue-rotate(314deg) brightness(85%) contrast(85%);
  --icon-filter-text: invert(29%) sepia(0%) saturate(19%) hue-rotate(172deg) brightness(96%) contrast(126%);
  --icon-filter-placeholder: invert(34%) sepia(0%) saturate(5%) hue-rotate(265deg) brightness(96%) contrast(90%);
  --shadow: #42445a;
}

[data-theme="dark"] {
  --background: #161819;
  --background-secondary: #1b1b1b;
  --background-secondary-hover: #202020;
  --background-secondary-active: #2e2e2e;
  --background-grey: #2A2B36;
  --background-dark-grey: #242424;
  --input-background: #27292E;
  --text-primary: #ffffff;
  --text-secondary: #e9e9e9;
  --text-tertiary: #adadad;
  --icon-filter-dark: invert(21%) sepia(16%) saturate(703%) hue-rotate(192deg) brightness(94%) contrast(81%);
  --icon-filter-text: invert(96%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(94%) contrast(90%);
  --icon-filter-placeholder: invert(98%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(85%) contrast(81%);
  --shadow: #242424;
}

::placeholder {
  color: var(--text-tertiary);
  opacity: 0.7; 
}

:-ms-input-placeholder {
  color: var(--text-tertiary);
  opacity: 0.7; 
}

::-ms-input-placeholder {
  color: var(--text-tertiary);
  opacity: 0.7; 
}

body {
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  background-color: var(--background);
}

h1 {
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  padding: 0px 10px 0px 10px;
}

h4 {
  color: var(--text-secondary);
}

h5 {
  color: var(--text-secondary);
  margin: 0;
}

p {
  color: var(--text-tertiary);
  margin: 0;
  font-size: 0.8rem;
}

html {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.none {
  display: none !important;
}

.block {
  display: none !important;
}

button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

input {
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }
}
