.form {
  width: 80%;
  max-width: 1200px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--text-tertiary);
  display: grid;
  gap: 0.8rem;
}

.form h1 {
  text-align: left;
  font-size: 2.2rem;
}

