.input-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    display: none;
}

.change {
    position: absolute;
    bottom: 0;
    left: 58%;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 50%;
    margin: 0;
    width: 50px;
    padding: 1px;
    transition: .2s;
    cursor: pointer;
}

.change img {
    filter: invert(100%) sepia(0%) saturate(2398%) hue-rotate(136deg) brightness(100%) contrast(100%);
}

.change:hover {
    background-color: var(--accent-hover);
    border: 1px solid var(--accent-hover);
}

.change:hover img {
    filter: invert(100%) sepia(0%) saturate(2398%) hue-rotate(136deg) brightness(100%) contrast(100%);
}

.add {
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
    padding: 10px;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-secondary);
    border: 1px solid var(--input-background);
}

.add:hover {
    border: 1px solid var(--accent);
}
