.alert {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: var(--success);
}

.success p {
    color: #131313;
}

.error {
    background-color: var(--error);
}

.error p {
    color: #fff;
}