.button {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--accent);
    cursor: pointer;
    transition: .1s;
    color: #fff;
    padding: 10px;
    letter-spacing: 0.6px;
    border: 1px solid var(--accent);
}

.button:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}

.outline {
    background-color: transparent;
    color: var(--accent);
    border: 1px solid var(--accent);
}

.outline:hover {
    color: #fff;
    background-color: var(--accent-hover);
}

.button:disabled {
    background-color: #666666;
    border: 1px solid #666666;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}