.container {
    width: 100%;
    max-width: calc(100% - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--background-dark-grey);
    -webkit-box-shadow: -8px 7px 17px -22px rgba(66, 68, 90, 1);
    -moz-box-shadow: -8px 7px 17px -22px rgba(66, 68, 90, 1);
    box-shadow: -8px 7px 17px -22px rgba(66, 68, 90, 1);
    overflow-y: auto;
}

.left {
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}