.icon {
  filter: var(--icon-filter-dark);
  width: 1.8rem;
  padding: 10px 10px 6px 10px;
  z-index: 0;
}

.icon:hover {
  filter: var(--icon-filter-accent);
}

.no-color {
  filter: var(--icon-filter-text);
  z-index: 0;
}

.no-color:hover {
  filter: var(--icon-filter-text);
}
