.container {
  max-width: 400px;
  text-align: left;
  padding: 25px;
}

.container input {
  font-size: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.container button {
  margin: 5px 0 5px 0;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
  }
}
