.sidebar {
  height: 100%;
  width: 350px;
  background-color: #9ca5ff17;
  text-align: left;
  padding: 0px 2% 0px 2%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .sidebar {
      width: 90%;
      max-width: 100%;
      min-width: 90%;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #fdfdfd;
    }
  }
  