.switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    max-width: 120px;
}

.off {
    padding-right: 5px;
}

.on {
    padding-left: 5px;
}

.switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch i {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 50px;
  vertical-align: text-bottom;
  transition: all 0.2s linear;
}

.switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 52px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.15s linear;
}

.switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.1s ease-in-out;
}

.switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.switch:active input:checked + i::after {
    transform: translate3d(29px, 2px, 0);
}

.switch input {
    display: none;
}

.switch input:checked + i {
    background-color: #4E5AEA;
}

.switch input:checked + i::before {
    transform: translate3d(26px, 2px, 0) scale3d(0, 0, 0);
}

.switch input:checked + i::after {
    transform: translate3d(26px, 2px, 0);
}

.left {
    margin-right: 8px;
}