.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    -webkit-box-shadow: 8px 7px 17px -22px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 17px -22px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 17px -22px rgba(66, 68, 90, 1);
}

@media screen and (min-width: 769px) {
    .back {
        display: none;
    }
}