.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--background-dark-grey);
    -webkit-box-shadow: 8px 7px 17px -22px var(--shadow);
    -moz-box-shadow: 8px 7px 17px -22px var(--shadow);
    box-shadow: 8px 7px 17px -22px var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (min-width: 769px) {
    .back {
        display: none;
    }
}