.container {
    padding: 15px;
    text-align: left;
    display: grid;
    gap: 0.5rem;
}

.date {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--background-dark-grey)
}

.text {
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    overflow: auto;
}