.button {
    outline: none;
    border-radius: 10px;
    background-color: var(--accent);
    cursor: pointer;
    transition: .1s;
    color: #fff;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid var(--accent);
}

.button:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}

.outline {
    background-color: transparent;
    color: var(--text-secondary);
    border: 1px solid var(--input-background);
}

.outline:hover {
    background-color: var(--input-background);
    border-color: var(--input-background);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}